.container {
  display: flex;
  align-items: center;
  gap: 0.8em;
  position: relative;
}

.info {
  flex-grow: 1;
}

.photo {
  border-radius: 50%;
  height: 40px;
}

.name {
  color: var(--text-color-headers);
}
