.container {
  height: 55px;
  width: 100%;
  background-color: var(--bgcolor-secondary);
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  padding: 1em;
}

.item {
  border: 1px solid var(--border-cards-color);
  width: fit-content;
  padding: .8em;
  transition: .3s ease;
  border-radius: 1em;
}

.item:hover {
  border: 1px solid var(--active-color);
  cursor: pointer;
}

