.container {
  display: flex;
  justify-content: space-evenly;
  height: 55px;
  width: 100%;
  padding: 1em;
  background-color: var(--bgcolor-secondary);
}

.icon {
  height: 100%;
}

.item {
  padding: 0.2em;
  gap: 0.5em;
  display: flex;
  align-items: center;
}
