.container {
  display: flex;
  flex-direction: column;
}

.attachments {
  min-height: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-bottom: 0.5em;
}

.attachment {
  border-radius: 0.5rem;
  max-height: 150px;
  max-width: 100%;
  object-fit: contain;
}

.text {
  overflow-wrap: anywhere;
}
