.container {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  border-bottom: 1px solid var(--border-cards-color);
}

.photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.info {
  margin-left: .5em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.links {
  display: flex;
  flex-direction: column;
}

.thread {
  display: flex;
  flex-direction: column;
  gap: .5em;
  padding: .5em 0 .5em 2em;
}
